body {
	margin: 0;
	padding: 0;
	font-family: Arial;
	font-size: 12px;
}

.top-back-back {
	background: url(../img/back-back.jpg);
	width: 100%;
	height: 245px;
	position: absolute;
	z-index: 10;
}

.top-back {
	background: url(../img/bg.png);
	width: 100%;
	height: 207px;
	position: absolute;
	z-index: 20;
}

.wrapper {
	width: 1024px;
	margin: 0 auto;
	position: relative;
	z-index: 15;
}

header {
	color: white;
	font-size: 12px;
	font-weight: bold;
	width: 1024px;
	height: 192px;
	padding-top: 15px;
	margin: 0 auto;
}

header a {
	color: white;
}

header .logo {
	display: block;
	float: left;
	margin-left: 50px;
	width: 165px;
	height: 55px;
	background: url(../img/logo.gif);
}

.social-logos {
	float: right;
	margin-right: 50px;
	margin-top: -3px;
}

.social-logos a {
	width: 20px;
	height: 20px;
	float: left;
	display: block;
	margin-left: 10px;
}

.facebook-link {
	background: url(../img/facebook.png);
}

.twitter-link {
	background: url(../img/twitter.png);
}

.header-text {
	float: right;
	margin-top: -2px;
}

.header-text a {
	text-decoration: none;
}

.header-text a:hover {
	text-decoration: underline;
}

.cover {
	width: 100%;
	height: 245px;
	position: relative;
	z-index: 15;
	background: url(../img/cover.jpg) center no-repeat;
}

.navigation {
	width: 100%;
	height: 20px;
	padding-top: 18px;
	margin-top: -38px;
	position: relative;
	z-index: 20;
}

.nav-home {
	display: block;
	float: left;
	margin-left: 45px;
	width: 14px;
	height: 13px;
	background: url(../img/home.png);
}

nav {
	display: block;
	float: left;
	font-size: 12px;
}

nav ul {
	list-style: none;
	margin: 0;
}

nav ul li {
	float: left;
	margin: 0;
	margin-left: 25px;
}

nav ul li a {
	text-decoration: none;
	color: #009ee0;
}

nav ul li a:hover {
	text-decoration: none;
}

nav ul li ul {
	display: none;
	position: absolute;
}

nav ul li:hover ul {
	display: block;
	position: absolute;
	margin-left: -30px;
}

nav ul li ul li {
	float: none;
	display: block;
	background: url(../img/menu-li.gif);
	padding-top: 10px;
	height: 28px;
	padding-left: 10px;
	padding-right: 40px;
}

nav ul li ul li:hover {
	background: url(../img/menu-li-hover.gif);
}

.nav-search input {
	width: 180px;
	float: right;
	margin-right: 30px;
	margin-top: -4px;
	height: 15px;
}

.menu-box-hover {
	margin-top: 2px;
	background: #009ee0;
	width: 178px;
	height: 4px;
	margin-left: 300px;
	clear: both;
}

.menu-box {
	background: url(../img/menu-box-back.png);
	width: 100%;
	height: 21px;
	padding-top: 3px;
	clear: both;
	color: white;
	font-size: 12px;
}

.menu-box-left, .menu-box-right {
	width: 28px;
	height: 24px;
	float: left;
	background: url(../img/menu-box-left.png);
	margin-top: -3px;
	margin-right: -9px;
}

.menu-box-right {
	float: right;
	background: url(../img/menu-box-right.png);
	margin-right: 0px;
}

.menu-box a {
	color: white;
	text-decoration: none;
}

.menu-box a:hover {
	color: white;
	text-decoration: underline;
}

.menu-box span {
	margin-left: 5px;
	margin-right: 5px;
}

#myCarousel {
	width: 611px;
	float: left;
	margin-top: 25px;
}

.big-links {
	width: 333px;
	float: right;
	margin-top: 25px;
}

.big-links a {
	display: block;
	width: 235px;
	height: 64px;
	color: white;
	text-decoration: none;
	font-size: 14pt;
	padding-top: 22px;
	padding-left: 98px;
}

.big-links a:hover {
	text-decoration: underline;
	color: white;
}

.big-donate {
	background: url(../img/big-donate.png);
}

.big-contactus {
	background: url(../img/big-contactus.png);
}

.big-plans {
	background: url(../img/big-plans.png);
}

.big-advert {
	background: url(../img/big-ads.png);
}

.content {
	float: left;
	width: 678px;
}

footer {
	width: 1254px;
	height: 193px;
	padding-top: 27px;
	clear: both;
	margin-top: 20px;
	background: url(../img/twooter.png) no-repeat left;
	margin-left: -250px;
}

.twitter-wrapper {
	float: left;
	margin-left: 325px;
	width: 545px;
	font-size: 9pt;
}

.twitter-user {
	display: inline;
	color: #ef3064;
}

.share-buttons {
	float: right;
}

.footer-text {
	clear: both;
	margin-left: 313px;
	font-size: 7pt;
	font-family: Verdana;
	margin-top: 79px;
	color: #616161;
	line-height: 11pt;
}

.footer-text p {
	margin: 0;
}

footer small {
	color: #4e4f4f;
	font-family: Verdana;
	font-size: 7pt;
	float: right;
	margin-top: 10px;
}

.footer-back {
	width: 100%;
	height: 88px;
	background: url(../img/footer.jpg) bottom repeat-x;
	position: absolute;
	margin-top: -80px;
}
