<!DOCTYPE HTML>
<html>
<meta charset="utf-8" />
<head>
	<title>{% block title %}{% endblock %}</title>
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet" />
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
	<link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" />
</head>
<body>
	<div class="wrapper">
		<div class="lang">
		{% for lang in languages %}
			{% ifequal lang current_lang %}
			<span>{{ lang }}</span>
			{% else %}
			<a href="{{ lang.get_absolute_url }}">{{ lang }}</a>
			{% endifequal %}
		{% endfor %}
		</div>
		<div class="cover">cover photo</div>
	</div>
	{% block content %}{% endblock %}
</body>
</html>
