<!DOCTYPE HTML>
<html>
<meta charset="utf-8" />
<head>
	<title>{% block title %}{% endblock %}</title>
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet" />
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
	<link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" />
</head>
<body>
	<div class="wrapper">
		<div class="languages">
		{% for language in languages %}
			{% ifequal language current_language %}
			<span>{{ language }}</span>
			{% else %}
			<a href="{{ language.get_absolute_url }}">{{ language }}</a>
			{% endifequal %}
		{% endfor %}
		</div>
		<div class="cover">cover photo</div>
		<div class="navbar">
			<a href="/{{ current_language }}"><img src="{{ STATIC_URL }}img/logo.jpg" alt="LOGO" /></a>
		</div>
	</div>
	{% block content %}{% endblock %}
</body>
</html>
