<!DOCTYPE HTML>
<html>
<meta charset="utf-8" />
<head>
	<title>{% block title %}{% endblock %}</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet" />
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
	<link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" />
	<script type="text/javascript">
	$(document).ready(function() {
		$('.carousel').carousel();
	});
	</script>
</head>
<body>
	<div class="container">
		<ul class="nav nav-pills pull-right">
		{% for language in languages %}
			<li{% ifequal language current_language %} class="disabled"{% endifequal %}><a href="{{ language.get_absolute_url }}">{{ language|upper }}</a></li>
		{% endfor %}
		</ul>
		<div class="well well-large">cover photo</div>
		<div class="navbar">
			<div class="navbar-inner">
				<a class="brand" href="/{{ current_language }}">Logo</a>
				<ul class="nav">
				{% for link in top_links %}
					{% if link.page_set.all %}
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="{{ link.get_absolute_url }}">{{ link }}</a>
						<ul class="dropdown-menu" role="menu">
						{% for sub_link in link.page_set.all %}
							<li><a href="{{ sub_link.get_absolute_url }}">{{ sub_link }}</a></li>
						{% endfor %}
						</ul>
					{% else %}
					<li><a href="{{ link.get_absolute_url }}">{{ link }}</a></li>
					{% endif %}
				{% endfor %}
				</ul>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span9">
					{% block content %}{% endblock %}
				</div>
				<div class="span3">
				{% for link in side_links %}
					<a href="{{ link.get_absolute_url }}" class="btn btn-large btn-info btn-block">{{ link }}</a>
				{% endfor %}
				<div class="row-fluid" style="margin-top: 50px">
					<a href="#" class="btn span4">Facebook</a>
					<a href="#" class="btn span4">Twitter</a>
					<a href="#" class="btn span4">LinkedIn</a>
				</div>
				</div>
			</div>
		</div>
		<footer class="footer">
			<p>SOS &copy; {% now "Y" %}</p>
		</footer>
	</div>
</body>
</html>
