{% extends "base.html" %}

{% block title %}{{ page.title }} - {% endblock %}

{% block menubox %}
	{% if page.page_set.all and page.parent %}
		<div class="menu-box">
			<div class="menu-box-left"></div>
		{% for child_page in page.page_set.all %}
			<a href="{{ child_page.get_absolute_url }}">{{ child_page }}</a>
			{% if forloop.last %}{% else %}
			<span>|</span>
			{% endif %}
		{% endfor %}
		<div class="menu-box-right"></div>
	</div>
	{% elif page.parent %}
		<div class="menu-box">
			<div class="menu-box-left"></div>
		{% for child_page in page.parent.page_set.all %}
			<a href={{ child_page.get_absolute_url }}{% ifequal child_page page %} class="menubox-active"{% endifequal %}>{{ child_page }}</a>
			{% if forloop.last %}{% else %}
			<span>|</span>
			{% endif %}
		{% endfor %}
		<div class="menu-box-right"></div>
	</div>
	{% endif %}
{% endblock %}

{% block content %}
	<h4>{{ page.title }}</h4>
	{{ page.body|safe }}
{% endblock %}
